//- Required args
  post : post object
  content: post.content parsed into html
  recentPosts: array of recent 10 posts (title and url needed)
//- derived args (required)
  title: Title of tab

extends layout

block headContent
  link(href="/stylesheets/postStyle.css", rel="stylesheet")
  script(src='/javascripts/post.js' defer)

block bodyContent
  aside.sidebar
    ul#articleTags
      each tag in post.tags
        a(href="/posts/searchPage?tags="+tag)
          li #{tag}

    ul#recentPosts
      h1 Recent articles
      each postObj in recentPosts
        li
          a(href=postObj.url) #{postObj.title}

  main
    article
      div#heading
        h1= post.title
        div#articleDetails
          span By
            span#authorName  #{post.author.name}
          span#articleDate #{post.createdOnHumanReadable}
            if post.createdOnHumanReadable!==post.lastEditedOnHumanReadable
              |  (Last updated: #{post.lastEditedOnHumanReadable})
      hr
      div#content
        |!{content}

    div#commentSection
      form#addCommentForm(action=post.url+"/comment",method="POST")
        ul
          li
            input#commentorName(type="text", name="commentorName", placeholder="Enter name", required)
          li
            textarea#commentContent(type="text", name="commentContent", placeholder="Mention your thoughts..", required)
          li
            button(type="submit") Add Comment
      ul#commentList
        //- since comments are added using $push, newer are always at end; hence no sorting needed
        each comment in post.comments
          li.commentItem
            span.commentorName #{comment.commentorName}
            |  #{comment.commentContent}

